<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <div class="container">
        <div class="row">
        <% usersWithSecrets.forEach(function(user) { %>
            <div class="col-12 col-md-4">
              <div class="secret-card p-3 mb-3">
                <img src="images/logo.jpg" class="secret-card-image"/>
                <p class="secret-text">
                  <%= user.secret %>
                </p>
              </div>
            </div>
        <% }) %>
        </div>
      </div>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
